src/wsdl/localhost_8080/MavenWebServices/ServicosController.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.station.leona.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.station.leona.br/">

<xs:element name="GetListService" type="tns:GetListService"/>

<xs:element name="GetListServiceResponse" type="tns:GetListServiceResponse"/>

<xs:complexType name="GetListService">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetListServiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:servico" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servico">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="porta" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>